<!DOCTYPE html>
<html ng-app="admin">
<head>
    <link rel="stylesheet" type="text/css" href="/static/private/libs/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/private/libs/font-awesome/css/font-awesome.css">
    <script type="text/javascript" src="/static/private/libs/angular/angular.js"></script>
    <script type="text/javascript" src="/static/private/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/static/private/apps/admin/js/admin.js"></script>

    <title>Admin</title>
</head>
<body ng-controller="DatabaseController as db">
    <div class="container">
        <div class="page-header text-center">
            <h1><span class="fa fa-gavel"></span> Admin Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>
        <table class="table">
            <caption>Table caption?</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in db.users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td><button type="button" class="btn btn-default">Edit</button>
                        <button ng-click="db.deleteUser(user.id);" type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-controller="ModalController as mc">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="item in mic.items">
                        <a ng-click="mic.selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b>{{ mic.selected.item }}</b>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="mic.ok()">OK</button>
                <button class="btn btn-warning" ng-click="mic.cancel()">Cancel</button>
            </div>
        </script>

        <button class="btn btn-default" ng-click="mc.open()">Open me!</button>
        <button class="btn btn-default" ng-click="mc.open('lg')">Large modal</button>
        <button class="btn btn-default" ng-click="mc.open('sm')">Small modal</button>
        <div ng-show="mc.selected">Selection from a modal: {{ mc.selected }}</div>
    </div>
</body>
</html>