<!DOCTYPE html>
<html>
<head>
	<title>Hello world</title>
</head>
<body>
This is where the node app currently expects the angular root to be located
<div id="main" ng-app="LearnTogether">
<a href="profile">Get User</button>
<div ng-view></div>
</div>
</body>
</html>