<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>
					<i class="fa fa-cubes"></i>
					LearnTogether
				</h1>
				<p>
					This is the homepage for the LearnTogether LMS hooray
				</p>
				<p>
					<a class="btn btn-primary btn-lg" href="/user-profile" role="button">
						User Profile
					</a>
					<a class="btn btn-default btn-lg" href="/admin" target="_self" role="button">
						Admin App
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="container">

</div>