h1{
	padding: 20px;
}

.hidden {
	display: none;
}

.adminDiv > * {
	padding: 4px 8px;
	background: #F2DEDE;
}

.leaderDiv > * {
	padding: 4px 8px;
	background: #D9EDF7;
}

.userDiv > * {
	padding: 4px 8px;
	background: #DFF0D8;
}